[submodule "external/3rd_party/Box2D-cmake"]
	path = external/3rd_party/Box2D-cmake
	url = https://github.com/tobanteGaming/Box2D-cmake.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
